

* {
    margin: 0;
    box-sizing: border-box;
}

.fundo{
    background-color: #FFC9C3;
}

.borda{
    border: 1px solid goldenrod;
    border-radius: 19px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo-index{
    border-radius: 19px;
    background-color: #EA9D71;
    text-align: center;
    box-shadow: 5px 5px 5px #C16B42;
    height: 30px;
    width: 70%;
    position: relative;
    margin-top: -7%;
    margin-left: 15%;
}

.botao{
    font-family: 'Bebas Neue';
    text-decoration: none;
    color: black;
    background-color: #00AB93;
    width: 180px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.foto-index {
    width: 100%;
    margin-top: -22%;
    text-align: center;
}

.foto-index img {
    border: 2px solid rgb(192, 147, 34);
    border-radius: 19px;
}

.paragrafo {
    margin-left: 10%;
    margin-right: 10%;
}